*{
    padding: 0;
    margin: 0;
    font-family: "M PLUS Code Latin", monospace;
}
body{
    margin: 0;
}
#nav-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#nav-container img{
    display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  width: 13%;
  z-index: 1;
}

.canvas-div{
    position: relative;
    text-align: center;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


}
canvas {
    border-width: 2px;
    border-style: outset;
    border-color: aliceblue;
    border-radius: 5px;
    margin-top: 22px;
    margin-bottom: 22px;
    z-index: 1;
}


#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 50%;
    z-index: 0;
}